TMDB_API_KEY=ThE_TMDB_API_KEY_COMES_HERE
TMDB_BASE_URL=https://api.themoviedb.org/3 // The base URL for TMDB API requests as learnt form the documentation. You can change it if you want to use a different version of the API or a different endpoint.